/* 全体(デスクトップPCとスマホ)に適用するCSS */
html,body
{
    height: 100%;
    margin: 0;    
}

.wrapper
{
	width: 800px ;
    height: 100% ;
	margin: 0 auto ;	/* 左右に[auto]を指定することで、真ん中に寄る */
	padding: 0;		    /* 上下左右の余白を0にしておく */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.cbox1
{
    width: calc(33.3% - 10px);
    height: calc(25% - 10px);
    margin: 5px;
    font-size: 24pt;
    display: table;
    table-layout: fixed;
}
.cbox1>div
{
    display: table-cell;
    height: 100%;
    vertical-align: middle;        
    text-align: center;
}

#box1{    background-color: red;}
#box2{    background-color: greenyellow;}
#box3{    background-color: dodgerblue;}
#box4{    background-color: orange;}
#box5{    background-color: yellow;}
#box6{    background-color: mediumpurple;}
#box7{    background-color: palevioletred;}
#box8{    background-color: limegreen;}
#box9{    background-color: cornflowerblue;}
#box10{    background-color: lightcoral;}
#box11{    background-color: pink;}
#box12{    background-color: lightblue;}

/* スマホだけに適用するCSS */
@media screen and ( max-width:800px )
{
	.wrapper
	{
		width: auto ;
		padding: 0;		/* 左右の余白 */
	}
}